/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }


 main {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

 .flash {
   margin: 33px;
   font-size:18px;
   color: green;
 }

 h1 {
  padding-bottom: 20px;
  display: block;
}

 .top > h1 {
   padding: 0;
 }

.index-btn > h4{
  font-weight: 100;
  padding-top: 5px;
}

.edit-btn > h4 {
  font-weight: 100;
}

.action {
  margin-bottom: 10px;
}

input {
  padding: 1px 6px;
}

.alert-warning{
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

.alert-warning h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0;
  background-color: #c00;
  color: #fff;
}

.alert-warning ul{
  font-size: 12px;
  list-style: square;
  padding-left: 40px;
  margin: 33px;
}

h2 {
  padding: 20px 0;
}

.field {
  margin-bottom: 10px;
}

td {
  padding: 1px 5px 7px;
}

th {
  padding: 1px 1px 5px;
}

strong {
  font-weight: bold;
}

p {
  margin: 33px;
}

